<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='css/fileinput.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='css/fileinput-rtl.min.css')}}" rel="stylesheet">
  <link href="{{url_for('static',filename='css/jquery-ui.css')}}" rel="stylesheet">

  <script src="{{url_for('static', filename='jqueryUI/jquery.js')}}"></script>

  <script src="{{url_for('static', filename='jqueryUI/jquery-ui.js')}}"></script>



  <title>Document</title>
</head>
<body>
  <h1>test test test</h1>


  <button id="aass">一个 button 元素</button>


  <script>

      $('#aass').click(function() {
          var data = {
              'name': 'kikay',
              'age': 18,
              'a':1,
              'b':2,
              'c':3
          }
          $.ajax({
              type: 'POST',
              url: '{{url_for("flaskRunA")}}',
              data: data,
              dataType: 'json', //希望服务器返回json格式的数据
              });

          });


  </script>
</body>
</html>
