<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>pixiSpineTest-DropZone</title>
    {{ dropzone.load() }} {{ dropzone.style('border: 2px dashed #0087F7; margin: 10%; min-height: 400px;color:rgb(250,250,250);background-color:rgb(50,50,50)') }}
</head>

<body>
    <div>
        {{ dropzone.create(action_view='upload') }}
    </div>
    <div style="margin:10% ">
        <input type="button" value="spine 測試" onClick="window.open('http://192.168.161.46:5000/pixiSpine');" style = "height: 50px;width:360px;border-radius: 10px;background-color:rgb(200,200,200)">
    </div>
</body>

</html>
